@font-face {
    font-family: "FortunaDow";
    src: url("../fonts/FortunaDow.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: agenda-light;
    src: url(../fonts/agenda-light.otf) format("truetype");
    font-style: normal;
    font-weight: 400;
}


* {
    padding: 0;
    margin: 0;
    outline: 0 !important;
}

.container {
    margin: 0 auto;
    width: 1170px;
    /* width: 1440px; */
    padding: 0 15px;
}

.board-container>div:first-child {
    display: flex;
    justify-content: flex-start;
}

.board-container>div:first-child>div:first-child {

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.board-container>div:nth-child(2) {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-around;
    margin-left: 40px;
    max-width: 720px;
    width: 100%;
    text-align: center;
}

#turn {
    font-family: "FortunaDow";
    max-width: 300px;
    max-height: 65px;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 40px;
    border-style: inset;
    text-align: center;
    transition: .85s linear;

    vertical-align: middle;
    border: 0;
    margin: 50px 0 50px 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.5);
}


.turnheightlight {
    background: #b2b6b2;
    color: #fff;
}

#game {
    width: 720px;
    height: 720px;
    position: relative;
    border: 5px solid rgb(64, 64, 64);
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.5);
}

#game>div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.gamecell {
    width: 90px;
    height: 90px;
    margin: 0;
    transition: all 2 ease-in-out;
    text-align: center;
    font-size: 50pt;
    cursor: pointer;
    z-index: 1;
}

.gamecell:hover {
    background: rgba(37, 88, 228, 0.7);
    z-index: 2;
}


.board-container>div:first-child>div:first-child>.cellprefix {
    font-family: "FortunaDow";
    font-size: 40px;
    padding: 0 10px 0 0;
}

.board-container>div:nth-child(2)>.cellprefix {
    font-family: "FortunaDow";
    font-size: 40px;
    padding: 10px 0;
}

#game-log {
    overflow: scroll;
    /* width: 450px; */
    width: 340px;
    height: 718px;
    padding: 5px;
    margin: 0 0 0 50px;
    color: black;
    font-family: agenda-light;
    font-size: 40px;
    overflow-y: auto;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.5);
}

#game-log::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.button-change-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.change-figure {
    width: 200px;
    height: 100px;
    margin: 0 4px 0 0;
    border: none;
    font-size: 80px;
    align-self: center;
    border-radius: 10px;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.5);
}

.change-figure:focus {
    outline: none !important;
    border: none !important;
}

.cellprefix,
.gamecell {
    flex-flow: column wrap;
    flex-direction: column-reverse;
}

.black {
    background-color: rgb(175, 119, 92);
}

.white {
    background-color: rgb(231, 189, 140);
}

.true-move {
    background: #749a72bf;
    box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.822);
}
